<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Encuentra buenos y malos adoptantes</h1>
                <hr>
                <p>Valida si la persona que quiere adoptar a tu huellita está recomendado o no por la comunidad</p>
				<div>
				<form>
				  <div class="form-group">
					<input #emailSearch="ngModel" name="keywordSearch" [(ngModel)]="keywordSearch" type="email" class="form-control" placeholder="ingresa el nombre o el correo" style="height:56px" >
				  </div>
				  </form>
				</div>
                <a [routerLink]="getRoute('search')" [queryParams]="{ keyword: emailSearch.value }" class="btn btn-primary btn-xl page-scroll">Buscar</a>
            </div>
        </div>
    </header>
	<section>
        <ado-list-reports [filter]="filterReports"></ado-list-reports> 
    </section>
	
	
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Valida si el adoptante que tienes es bueno o malo</h2>
                    <hr class="light">
                    <p class="text-faded">Muchas veces no sabes si la persona que quiere adoptar a tu huellita es buena o mala. Por eso en 
					adoptante.com puedes validar o registrar aquellas personas que tienen historial en la adopción de perros o gatos</p>
                    <a [routerLink]="getRoute('newreport')" class="page-scroll btn btn-default btn-xl sr-button">Reporta ya!</a>
                </div>
            </div>
        </div>
    </section>



    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>¿Quieres adoptar un amigo(a) para toda la vida?</h2>
                <a href="http://huellitas.social/" class="btn btn-default btn-xl sr-button">Entra a huellitas sin hogar!</a>
            </div>
        </div>
    </aside>